* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    width: 100%;
}

/* Primary Navbar section */
.navcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid seashell;
    height: 69px;
    position: fixed;
    z-index: 1;
    background-color: black;
}

.logo {
    margin-left: 10px;
    display: inline-flex;
    height: 50px;
    width: auto;
}

.primarynavitem li {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: underline;
    margin-right: 10px;
}

.primarynavitem a {
    color: seashell;
}

/* Mission section */
#mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
}

.missioncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.missionoverlay {
    width: 100%;
    background-color: black;
    margin: auto;
    padding: 10px;
}

/* Tea of the month section */

.teaofthemonthheader {
    margin-top: 3rem;
    line-height: 50px;
}

.teaofthemonthimages {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.teaimage img {
    margin: 10px auto;
    height: 200px;
    width: 300px;
}

/* Locations Section */

#locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    max-width: 1200px;
    margin: 3rem auto 0.5rem;
    justify-content: center;
}

.locationheader {
    padding-top: 3rem;
}

.locationcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    flex-direction: row;
}

.locationitem {
    height: 300px;
    background-color: black;
    margin: auto 20px;
    padding: 10px;
    line-height: 2.5rem;
    flex-basis: 30%;
    box-sizing: border-box;
}

/* Contact section */

.contact {
    height: 200px;
    margin: 15px;
    line-height: 60px;
}

/* Footer section */

footer {
    text-align: left;
    margin: 35px 20px;
}

/* Media queries */

@media only screen and (max-width:750px) {
    li {
        font-size: 0.9rem;
        list-style-type: none;
        display: block;
        justify-content: flex-end;
        flex-direction: column;
        text-decoration: underline;
        text-align: right;
    }
    .locationitem {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 1129px) {
    .our-mission,
    .locations-container {
        width: 100%;
    }
}
@media only screen and (max-width: 1132px) {
    .our-mission,
    .locations-container {
        width: 100%;
    }
    .locations-container {
        min-height: 1050px;
    }
    .address-container {
        margin-top: 2.7rem;
        gap: 1rem;
    }
}
